<template name="lists">
  <h2>Lists</h2>
  {{#if currentUser}}

  <div class="ui fluid search">
    <div class="ui fluid icon input">
      {{> esInput index="lists" placeholder="Search..." class="prompt" renderSuggestion="searchResult"}}
      <i class="search icon"></i>
    </div>
  </div>

  <div class="ui relaxed divided list">
    {{#ifEsIsSearching index="lists"}}
      <div class="ui active centered large inline loader"></div>
    {{else}}
      {{#ifEsInputIsEmpty index="lists"}}
          {{#if latestLists}}
            {{#each latestLists}}
                <div class="item">
                  <i class="large link icon green {{#if public}}alternate unlock{{else}}lock{{/if}} icon middle aligned showEditList" data-id="{{_id}}"></i>
                  <div class="content">
                    <span class="header"><a class="listitem" data-id="{{_id}}">{{name}}</a></span>
                    <div class="description">{{listAuthor}}</div>
                  </div>
                </div>
            {{/each}}
          {{else}}
            <div class="ui info message">
              <div class="header">
                Lost? Try seaching for some list:
              </div>
              <ul class="list">
                <li>English names</li>
                <li>US Census</li>
                <li>German Surnames</li>
                <li><i>Or add your own!</i></li>
              </ul>
            </div>
          {{/if}}
      {{/ifEsInputIsEmpty}}

      {{#esEach index="lists"}}
        <div class="item">
          <i class="large
          {{#if isMine}}
            green {{#if public}}alternate unlock{{else}}lock{{/if}}
          {{else}}
            red {{#if isFavorite}}heart{{else}}empty heart{{/if}}
          {{/if}}
           icon middle aligned showEditList" data-id="{{_id}}"></i>
          <div class="content">
            <span class="header"><a class="listitem" data-id="{{_id}}">{{name}}</a></span>
            <div class="description">{{listAuthor}}</div>
          </div>
        </div>
      {{/esEach}}
    {{/ifEsIsSearching}}
    </div>

    <div class="ui fluid buttons">
      {{> esLoadMoreButton index="lists" class="ui blue button"}}
      <button class="ui green right labeled icon button" id="showadd">
        <i class="plus icon"></i>
        Add
      </button>
    </div>

  {{else}}
    <div class="ui info message">
      <div class="header">
        Please login
      </div>
      <p>You need to login to use Randy and create awesome lists!</p>
    </div>
  {{/if}}

  {{> listeditor}}

</template>
