<template name="lists">
  <h2>Lists</h2>
  {{#if currentUser}}

  <div class="ui fluid search">
    <div class="ui fluid icon input">
      {{> esInput index="lists" placeholder="Search..." class="prompt" renderSuggestion="searchResult"}}
      <i class="search icon"></i>
    </div>
  </div>

  <div class="ui relaxed divided list">
    {{#ifEsIsSearching index="lists"}}
      <div class="ui active centered large inline loader"></div>
    {{else}}
      {{#ifEsInputIsEmpty index="lists"}}
          {{#each latestLists}}
              <div class="item">
                <i class="large {{#if public}}unlock{{else}}lock{{/if}} icon middle aligned showEditList" data-id="{{_id}}"></i>
                <div class="content">
                  <a class="header listitem" data-id="{{_id}}">{{name}}</a>
                  <div class="description">{{listAuthor}}</div>
                </div>
              </div>
          {{/each}}
      {{/ifEsInputIsEmpty}}

      {{#esEach index="lists"}}

          <div class="item">
            <i class="large {{#if public}}unlock{{else}}lock{{/if}} icon middle aligned showEditList" data-id="{{_id}}"></i>
            <div class="content">
              <a class="header listitem" data-id="{{_id}}">{{name}}</a>
              <div class="description">{{listAuthor}}</div>
            </div>
          </div>
      {{/esEach}}
    {{/ifEsIsSearching}}
    </div>

    <button class="fluid ui green right labeled icon button" id="showadd">
      <i class="plus icon"></i>
      Add
    </button>


  {{else}}
    <div class="ui info message">
      <div class="header">
        Please login
      </div>
      <p>You need to login to use Randy and create awesome lists!</p>
    </div>
  {{/if}}


<!-- Modal for edit / add -->
  <div class="ui small modal" id="addModal">
    <i class="close icon"></i>
    <div class="header">
      {{#if editListId}}
        Edit list
      {{else}}
        Add list
      {{/if}}
    </div>
    <div class="content">
      <div class="ui form">
        <div class="two inline fields">
          <div class="field">
            <label>Name</label>
            <input id="listname">
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" id="listpublic">
              <label for="listpublic">Make list public</label>
            </div>
          </div>
        </div>
        <div class="field">
          <label>List</label>
          <textarea id="listitems"></textarea>
        </div>
      </div>
    </div>
    <div class="actions">
      {{#if editListId}}
        <div class="ui red deny button" id="deleteListButton">
          Delete
        </div>
      {{/if}}
      <div class="ui black deny button" id="cancelListButton">
        Cancel
      </div>
      <button class="ui positive right labeled icon button" id="addlist">
        {{#if editListId}}
          Save
        {{else}}
          Add
        {{/if}}
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>

</template>


<template name="searchResult">
    <div class="ui relaxed divided list">
      <div class="item">
        <i class="large {{#if doc.public}}unlock{{else}}lock{{/if}} icon middle aligned showEditList" data-id="{{doc._id}}"></i>
        <div class="content">
          <a class="header listitem" data-id="{{doc._id}}">{{doc.name}}</a>
          <div class="description">{{listAuthor}}</div>
        </div>
      </div>
    </div>
</template>
