<template name="lists">
  <h2>Lists</h2>
  {{#if currentUser}}

  <div class="ui fluid search">
    <div class="ui fluid icon input">
      {{> esInput index="lists" placeholder="Search..." class="prompt" renderSuggestion="searchResult"}}
      <i class="search icon"></i>
    </div>
  </div>

  <div class="ui relaxed divided list">
    {{#ifEsIsSearching index="lists"}}
      <div class="ui active centered large inline loader"></div>
    {{else}}
      {{#ifEsInputIsEmpty index="lists"}}
          {{#each latestLists}}
              <div class="item">
                <i class="large link icon {{#if public}}unlock{{else}}lock{{/if}} icon middle aligned showEditList" data-id="{{_id}}"></i>
                <div class="content">
                  <a class="header listitem" data-id="{{_id}}">{{name}}</a>
                  <div class="description">{{listAuthor}}</div>
                </div>
              </div>
          {{/each}}
      {{/ifEsInputIsEmpty}}

      {{#esEach index="lists"}}

          <div class="item">
            <i class="large {{#if public}}unlock{{else}}lock{{/if}} icon middle aligned showEditList" data-id="{{_id}}"></i>
            <div class="content">
              <a class="header listitem" data-id="{{_id}}">{{name}}</a>
              <div class="description">{{listAuthor}}</div>
            </div>
          </div>
      {{/esEach}}
    {{/ifEsIsSearching}}
    </div>

    <div class="ui fluid buttons">
      {{> esLoadMoreButton index="lists" class="ui blue button"}}
      <button class="ui green right labeled icon button" id="showadd">
        <i class="plus icon"></i>
        Add
      </button>
    </div>

  {{else}}
    <div class="ui info message">
      <div class="header">
        Please login
      </div>
      <p>You need to login to use Randy and create awesome lists!</p>
    </div>
  {{/if}}

  {{> listeditor}}

</template>
