<template name="listeditor">
<!-- Modal for edit / add -->
  <div class="ui small modal" id="addModal">
    <i class="close icon"></i>
    <div class="header">
      {{#if activeList}}Edit{{else}}Add{{/if}} list
    </div>
    <div class="content">
      <div class="ui form">
        <div class="two inline fields">
          <div class="field {{#if isMyList}}{{else}}disabled{{/if}}">
            <label>Name</label>
            <input id="listname">
          </div>
          <div class="field {{#if isMyList}}{{else}}disabled{{/if}}">
            <div class="ui toggle checkbox">
              <input type="checkbox" id="listpublic">
              <label for="listpublic">Public List</label>
            </div>
          </div>
        </div>
        <div class="field {{#if isMyList}}{{else}}disabled{{/if}}">
          <label>List</label>
          <textarea id="listitems"></textarea>
        </div>
      </div>
    </div>
    <div class="actions">
      {{#if activeList}}
        {{#if isMyList}}
          <div class="ui red deny button" id="deleteListButton">
            Delete
          </div>
        {{/if}}
      {{/if}}
      <div class="ui black deny button" id="cancelListButton">
        Cancel
      </div>
      {{#if activeList}}
        {{#if isMyList}}
          <button class="ui positive right labeled icon button" id="addlist">Save<i class="checkmark icon"></i></button>
        {{else}}
          <button class="ui positive right labeled icon button" id="forkButton">Fork<i class="fork icon"></i></button>
        {{/if}}
      {{else}}
        <button class="ui positive right labeled icon button" id="addlist">Add<i class="checkmark icon"></i></button>
      {{/if}}
    </div>
  </div>

<!-- Modal for fork/edit -->
<div class="ui small basic modal" id="forkModal">
  <i class="close icon"></i>
  <div class="header">
    Favorite or Fork?
  </div>
  <div class="image content">
    <div class="image">
      <i class="bookmark icon"></i>
    </div>
    <div class="description">
      <p>This list is made by another author.<br>Fork it for a private copy or favorite it for easy access?</p>
    </div>
  </div>
  <div class="actions">
    <div class="two ui buttons">
      <div class="ui red basic inverted button" id="favoriteButton">
        <i class="heart icon"></i>
        Favorite
      </div>
      <div class="or"></div>
      <div class="ui green basic inverted button" id="forkButton">
        <i class="fork icon"></i>
        Fork
      </div>
    </div>
  </div>
</div>
</template>
